/*-------- GLOBAL STYLES ---------*/

html {
    font-size: 62.5%;
  }
  
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr  2fr 2fr 2fr 1fr;
    grid-area: 
    'aside-main';
    background-color: #F2F0D5;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color: #F2F0D5;
}

/*Header Styles*/

header {
    background-color: #0D0D0D;
    grid-column: 1 / -1;
}

.header-nav a {
    color: #ECDFF2;
    font-size: 2.4rem;
    justify-self: end;
}