/*-------- GLOBAL STYLES ---------*/

html {
    font-size: 62.5%;
  }
  
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr  2fr 2fr 2fr 1fr;
    grid-area: 
    'aside-main';
    background-color: #ECDFF2;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    gap: 2em;
}

h1, .logo-name {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color: #ECDFF2;
}

/*Header Styles*/

header {
    background-color: #0D0D0D;
    grid-column: 1 / -1;
}

.logo {
    display:flex;
    align-items: center;
}

.logo-name {
    font-size: 3.2rem;
    margin-right: 50px;
}

.header-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 50px;
}

.header-nav a {
    color: #ECDFF2;
    font-size: 2.4rem;
}

/*Header Styles*/

.hero { /*Learned position from https://www.w3schools.com/howto/howto_css_image_text.asp*/
    grid-column: 2 / -2;
    position: relative;
    text-align: center;
    align-items: flex-end;
    color: #0D0D0D;
    width: 100%;
    max-width: 800px;
}

h1 {
    position: absolute;
    top: 50px;
    bottom: 50px;
}

.about, .featured {
    background-color: #F2F0D5;
}